header.hero {  
	width: 100%; 
	height: 100vh;
	display: block;
	position: relative;
	background: url("../images/pokeball.jpg") center center;
	background-size: cover;
}

header.hero {
	background-color: #F400D2;
	background-blend-mode: multiply;
}

header.hero h1,
header.hero p,
header.hero a {  
	color: #FF8DEA;
}

header a:hover {
	text-decoration: underline;
	color: #F400D2}

section.btn {
		background: #6F0A87;
		color:#FF8DEA;
		font-size: 20px;
		line-height: 10px;
		padding: 1rem 3rem;
		text-decoration:none;
		border-radius: 50px;
		width: 100px;


}

section.directory table,th,td {
	border: 3px solid #6F0A87;
	width: 50%;
	color: #FF8DEA;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

ul {
	flex: 70%;
	list-style: none;
	display: flex;
}
header.hero nav ul li a {
	padding: 1rem 3rem;
	color: #FF8DEA;
	text-transform: uppercase;
	text-decoration: none;

}

header.hero nav ul li a:hover {
	text-decoration: underline;
	color: #F400D2

}
body {  
	width: 100%; 
	height: 50vh;
	display: block;
	background: url("../images/forest.jpg") center bottom;
	background-size: 100% 100%;
}

body{
	background-color: #6F0A87;
	background-blend-mode: multiply;
}

section.gamestop {
	border: 0;
	text-align: center;

}

section.information {
	color: #F400D2;
    text-align: center;
    }

footer nav ul li a {
	padding: 1rem 3rem;
	color: #FF8DEA;
	text-transform: uppercase;
	text-decoration: none;
}

footer nav ul li a:hover {
	text-decoration: underline;
	color: #F400D2
}

@media screen and (max-width: 480px) {
	header.hero { 
	height:400px;  }

	header.hero nav{
		display: flex;
	}
	header.hero nav .logo img {
		max-width: 100%;
	}
	header.hero nav ul {
		margin: 1rem 0;
		flex: none; 
		padding:0;
}

	header.hero nav ul li a {
	padding: 1rem 0.8rem;
	font-size:10px;
	font-weight: bold;

}

	header.hero h1,
	header.hero p {
		color: #FF8DEA;
	}

	header.hero h1 {
		font-size: 40px
		line-height: 10px;

	}
	section.btn {
		font-size: 25px;
		line-height:30px;
		padding: 1rem 2rem;
		border-radius: 22px;

	}
	section.gamestop {
		width: 100%;
	}
	section.directory {
		width: 100%;
	}
}